<h3 class="text-center mt-3 mb-3">Stores list</h3>

<table class="table">
  <thead>
    <tr>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Enter</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td class="text-center" scope="row"><%= store.name %></td>
        <td class="text-center" scope="row"><%= link_to 'Enter', store %></td>
      </tr>
    <% end %>
  </tbody>
</table>