<h3 class="text-center mt-3 mb-3">Edit Manager</h3>

<%= render 'form', manager: @manager %>

<div class="d-flex justify-content-center">
  <%= link_to 'Show', @manager, class: 'btn btn-primary mr-2' %>
  <%= link_to 'Back', managers_path, class: 'btn btn-primary' %>
</div>