<h3 class="text-center mt-3 mb-3">New Product</h3>

<%= render 'form', product: @product %>

<div class="d-flex justify-content-center">
  <%= link_to 'Back', products_path, class: 'btn btn-primary mt-2' %>
</div>
